<!-- Feature selection with checkboxes + hover description -->
<div class="qc-features-wrap">
    <h3>{{i18n "features.title"}}</h3>
    <div class="qc-features-list">
        {{#each features}}
        <label class="qc-feature-check" data-feature="{{serialized}}">
            <input type="checkbox" class="qc-feature-cb" />
            <span class="qc-feature-name">{{name}}</span>
        </label>
        {{/each}}
    </div>
    <div class="qc-feature-desc-box">
        <p class="qc-feature-desc-text"></p>
    </div>
</div>
