<div style="line-height:1.7;padding:1em">

<p>This work includes material taken from the <a href="https://slyflourish.com/lazy_5e_monster_building_resource_document.html">Lazy GM's 5e Monster Builder Resource Document</a> written by Teos Abadía of <a href="https://alphastream.org">Alphastream.org</a>, Scott Fitzgerald Gray of <a href="https://insaneangel.com">Insaneangel.com</a>, and Michael E. Shea of <a href="https://slyflourish.com">SlyFlourish.com</a>, available under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

<p>Original Foundry VTT module: <a href="https://github.com/SetaSensei/lazy-monster-builder">Lazy Monster Builder</a> by Seta Sensei. <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a></p>

<p><a href="https://opengameart.org/users/justin-nichol">Cute Tokens</a> by Justin Nichol. <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a></p>

<p><a href="https://github.com/jonmichaels/quick-creatures">Quick Creatures</a> by Jon Michaels. Coded by Hephaestus, a Hermes AI-Coding Agent.</p>

<p>This module is released under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

</div>
